/**
 * @file
 * Custom CSS for the Dismiss module.
 */

a.dismiss {
  box-sizing: border-box;
  display: block;
  height: 25px;
  padding: 5px;
  position: absolute;
  right: 2px; /* LTR */
  top: 2px;
  width: 25px;
}
[dir="rtl"] a.dismiss {
  left: 2px;
  right: auto;
}
a.dismiss:before,
a.dismiss:after {
  background: #999;
  content: '';
  display: block;
  height: 2px;
  margin-top: 6px;
  width: 15px;
}
a.dismiss:hover:before,
a.dismiss:hover:after {
  background: #666;
}
a.dismiss:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
a.dismiss:after {
  margin-top: -2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
